.animated-header {
    position: relative;
    font-size: 14vw;
    font-weight: 700;
    color: #0a0537;
    text-align: center;
    -webkit-text-stroke: 0.2vw white;
    text-transform: uppercase;
}

.animated-header::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: white;
    -webkit-text-stroke: 0vw white;
    border-right: 2px solid white;
    overflow: hidden;
    animation: animate 6s linear infinite;
}

@keyframes animate {
    0% {
        width: 0;
    }

    70% {
        width: 100%;
    }
}

#page-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: #0a0537;
    color: white; */
}

.skills {
    display: flex;
    justify-content: center;
    gap: 10vw;
    margin-top: 20px;
}

.skill-item {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 2s forwards;
    transition: transform 1s ease;
}

.skill-item:nth-child(1) {
    animation-delay: 200ms;
}

.skill-item:nth-child(2) {
    animation-delay: 400ms;
}

.skill-item:nth-child(3) {
    animation-delay: 600ms;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
} 

.hidden-section {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show-section {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}